SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_DRIVER_CLASS_NAME=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_PROFILES_ACTIVE=
SERVER_PORT=
SERVER_SSL_KEY_STORE=
SERVER_SSL_KEY_STORE_PASSWORD=
SERVER_SSL_KEYSTORETYPE=
SERVER_SSL_KEYALIAS=
